node_modules/
.secret.txt
.config.txt
config.json
.env
./test.json
callCount.json
jitendex_json_data/
jitendex_json_data_short/
jitendex_audio/
jitendex_audio_short/
jitendex_audio_partial/
jmdict/
jmdict_json_data/
jmdict_json_data_simplified/
jmdict_json_data_testing/
kanjidic/
radkfile/
simplified_json_data/
all_jitendex_vocabulary_for_tts_gen/
node_modules/
app.log